body {
	background-color: lightsteelblue;
	text-align: center;
	font-family: 'Monsterrat', sans-serif;
	color: black;
	border: black;
}

.jacob {
  font-size: 75px;
  padding-bottom: 5px;
}


.desc {
  font-size: 43px;
}

p {
  font-size: 25px;
  margin: 50px;
}

img {
	border-radius: 50%;
	size: 70%;
}

.home {
  float: right;
  width: 40%;
  margin: 0 1.5%
}

a.button {
  text-decoration: none;
  background-color: AliceBlue;
  color: black;
  font-family: 'Monsterrat', sans-serif;
  font-size: 30px;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: SteelBlue;
  color: snow;
}