:root { font: 20px/1.2 "Roboto", sans-serif; } /* or HTML */

body, 
body * {
	margin:				unset;
	box-sizing:			unset;
	padding:			unset;
	font-size:			unset;
	color:				unset;
	text-decoration:	unset;
}
